<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'head.html' %}
    <title>comm</title>
</head>
<body>
    <br/>
    <h2 class="center">Add/Update Comment</h2>

    <div class="row">
        <div class="col s12 m2 l2"></div>
        <form class="col s12 m8 l8">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Add a Review</label>
                </div>
            </div>
            <div class="row center">
                <input type="submit" id="search-button" value="Comment" name="comm" class="btn-large waves-effect waves-light orange">
            </div>
            </form>
        <div class="col s12 m2 l2"></div>
    </div>

</body>
</html>