<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'head.html' %}
    <title>comm</title>
</head>
<body>
    <br/>
    <h2 class="center">Add/Update Comment</h2>

    <div class="row">
        <div class="col s12 m2 l2"></div>
        <form class="col s12 m8 l8" action="/comm" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" placeholder="Review" name="rev" requried></textarea>
                    <!--<label for="textarea1">Add a Review</label>-->
                </div>
                <div class="input-field col s6 center">
                    <input type="number" name="toughness" placeholder="Toughness (1-5)" max="5" min="1" required>
                    <input type="number" name="work" placeholder="Workload (1-5)" max="5" min="1" required>
                    <input type="number" name="rating" placeholder="Rating (1-10)" max="10" min="1" required>
                    <input type="hidden" value="{{cid}}" name="cid">
                </div>
            </div>
            <div class="row center">
                <input type="submit" id="search-button" value="Comment" name="comm" class="btn-large waves-effect waves-light orange">
            </div>
            </form>
        <div class="col s12 m2 l2"></div>
    </div>
    {% include 'foot.html' %}
</body>
</html>