<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Title</title>
</head>
<body>
    <br/>
    <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

        <h1 class="header center orange-text">{{ course[2] }}</h1>
      <div class="row center">

      </div>

      <br><br>


    </div>
    </div>

    <div class="row center">
        <div class="col s12  m3 l3"></div>
        <div class="col s12 m6 l6">
            <ul class="tabs">
                <li class="tab col s6 m6 l6"><a class="active" href="#info">Info</a></li>
                <li class="tab col s6 m6 l6"><a href="#forum">Forum</a></li>
            </ul>
        </div>
        <div class="col s12 m3 l3"></div>
    </div>


    <div class="col s12" id="info">
    <div class="row center">
        <div class="col s12 m6 offset-m3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Course Information</span>
              <p>{{course[1]}}</p>
                <h5>Avg Toughness : {{stat[0]}}</h5>
                <h5>Avg Rating : {{stat[1]}}</h5>
                <h5>Avg Workload : {{stat[2]}}</h5>
            </div>
          </div>
        </div>
    </div>

    <div class="center">
        <a href="{{ url_for('addCom', courseId=course[0]) }}">Add a New Comment</a>
    </div>

    {% for review in revs %}


    <div class="row center">
      <div class="col s12 m3 l2"></div>
      <div class="col s12 m6 l8">
        <div class="card-panel teal">
          <span class="white-text">
              <h5>Reviewer : {{ review[1] }}</h5>
              <p>{{ review[5] }}</p>
              <h6>Toughness : {{ review[2] }}</h6>
              <h6>Workload : {{ review[3] }}</h6>
              <h6>Rating : {{ review[4] }}</h6>
          </span>
        </div>
          <div>
            <a href="{{ url_for('update', postId=review[0], cid=course[0]) }}">Update &nbsp;&nbsp;</a>
            <a href="{{ url_for('delete', postId=review[0], cid=course[0]) }}">Delete</a>
          </div>
      </div>
      <div class="col s12 m3 l2">
      </div>
    </div>

        {% endfor %}
    <div id="forum">forum</div>

    {% include 'foot.html' %}

</body>
</html>
