<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Title</title>
</head>
<body>
    <br/>
    <div class="section no-pad-bot" id="index-banner">

    <div class="col s12" id="info">
    <div class="row ">
        <div class="col s12 m3 l2"></div>
        <div class="col s12 m6 l8">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h1 class="header  orange-text">{{ course[2] }}</h1>
              <span class="card-title">Course Information</span>
              <p>{{course[1]}}</p>
                <h6>Avg Toughness : {{stat[0]}}</h6>
                <h6>Avg Rating : {{stat[1]}}</h6>
                <h6>Avg Workload : {{stat[2]}}</h6>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l2"></div>
    </div>

    <div class="center">
        <a href="{{ url_for('addCom', courseId=course[0]) }}">Add a New Comment</a>
    </div>

    <br/><br/>

    <div class="row center">
        <div class="col s12 m3 l2"></div>
        <div class="col s12 m6 l8">
            <div class="card-panel teal">
              <span class="white-text">
                  <h5>Review Summary</h5>
                  <h6>{{ combRev }}</h6>
              </span>
            </div>
        </div>
    </div>

    <br/><br/>

    <div class="row">
        <div class="col s12 m3 l2"></div>
        <div class="col s12 m6 l8">
          <ul class="tabs">
              <li class="tab col s3"><a href="#allRev" class="active">All &nbsp; ({{revs|length}})</a></li>
            <li class="tab col s3"><a href="#positive" >Positive &nbsp; ({{taggedRevs["positive"]|length}})</a></li>
            <li class="tab col s3"><a href="#negative">Negative &nbsp; ({{taggedRevs["negative"]|length}})</a></li>
            <li class="tab col s3"><a href="#neutral">Neutral &nbsp; ({{taggedRevs["neutral"]|length}})</a></li>
          </ul>
        </div>
        <div class="col s12 m3 l2"></div>

        <div id="positive" class="col s12">
            {% for review in taggedRevs["positive"] %}

            <div class="row ">
              <div class="col s12 m3 l2"></div>
              <div class="col s12 m6 l8">
                <div class="card-panel teal">
                  <span class="white-text">
                      <h6>Reviewer : {{ review[1] }}</h6>
                      <p>{{ review[5] }}</p>
                      <h6>Toughness : {{ review[2] }}</h6>
                      <h6>Workload : {{ review[3] }}</h6>
                      <h6>Rating : {{ review[4] }}</h6>
                  </span>
                </div>
                  <div>
                    <a href="{{ url_for('update', postId=review[0], cid=course[0]) }}">Update &nbsp;&nbsp;</a>
                    <a href="{{ url_for('delete', postId=review[0], cid=course[0]) }}">Delete</a>
                  </div>
              </div>
              <div class="col s12 m3 l2">
              </div>
            </div>

            {% endfor %}
        </div>

        <div id="negative" class="col s12">
            {% for review in taggedRevs["negative"] %}

            <div class="row ">
              <div class="col s12 m3 l2"></div>
              <div class="col s12 m6 l8">
                <div class="card-panel teal">
                  <span class="white-text">
                      <h6>Reviewer : {{ review[1] }}</h6>
                      <p>{{ review[5] }}</p>
                      <h6>Toughness : {{ review[2] }}</h6>
                      <h6>Workload : {{ review[3] }}</h6>
                      <h6>Rating : {{ review[4] }}</h6>
                  </span>
                </div>
                  <div>
                    <a href="{{ url_for('update', postId=review[0], cid=course[0]) }}">Update &nbsp;&nbsp;</a>
                    <a href="{{ url_for('delete', postId=review[0], cid=course[0]) }}">Delete</a>
                  </div>
              </div>
              <div class="col s12 m3 l2">
              </div>
            </div>

            {% endfor %}
        </div>

        <div id="neutral" class="col s12">
            {% for review in taggedRevs["neutral"] %}

            <div class="row ">
              <div class="col s12 m3 l2"></div>
              <div class="col s12 m6 l8">
                <div class="card-panel teal">
                  <span class="white-text">
                      <h6>Reviewer : {{ review[1] }}</h6>
                      <p>{{ review[5] }}</p>
                      <h6>Toughness : {{ review[2] }}</h6>
                      <h6>Workload : {{ review[3] }}</h6>
                      <h6>Rating : {{ review[4] }}</h6>
                  </span>
                </div>
                  <div>
                    <a href="{{ url_for('update', postId=review[0], cid=course[0]) }}">Update &nbsp;&nbsp;</a>
                    <a href="{{ url_for('delete', postId=review[0], cid=course[0]) }}">Delete</a>
                  </div>
              </div>
              <div class="col s12 m3 l2">
              </div>
            </div>

            {% endfor %}
        </div>
        <div id="allRev" class="col s12">
            {% for review in revs %}

            <div class="row ">
              <div class="col s12 m3 l2"></div>
              <div class="col s12 m6 l8">
                <div class="card-panel teal">
                  <span class="white-text">
                      <h6>Reviewer : {{ review[1] }}</h6>
                      <p>{{ review[5] }}</p>
                      <h6>Toughness : {{ review[2] }}</h6>
                      <h6>Workload : {{ review[3] }}</h6>
                      <h6>Rating : {{ review[4] }}</h6>
                  </span>
                </div>
                  <div>
                    <a href="{{ url_for('update', postId=review[0], cid=course[0]) }}">Update &nbsp;&nbsp;</a>
                    <a href="{{ url_for('delete', postId=review[0], cid=course[0]) }}">Delete</a>
                  </div>
              </div>
              <div class="col s12 m3 l2">
              </div>
            </div>

            {% endfor %}
        </div>
    </div>

    </div>
    {% include 'foot.html' %}

</body>
</html>
