<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Title</title>
</head>
<body>
    <br/>
    <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

        <h1 class="header center orange-text">Class Name</h1>
      <div class="row center">

      </div>

      <br><br>

    </div>
    </div>

    <div class="row center">
        <div class="col s12  m3 l3"></div>
        <div class="col s12 m6 l6">
            <ul class="tabs">
                <li class="tab col s6 m6 l6"><a class="active" href="#info">Info</a></li>
                <li class="tab col s6 m6 l6"><a href="#forum">Forum</a></li>
            </ul>
        </div>
        <div class="col s12 m3 l3"></div>
    </div>


    <div class="col s12" id="info">
    <div class="row center">
        <div class="col s12 m6 offset-m3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Course Information</span>
              <p> course information like teachers, avg grades marks, etc would come here</p>
            </div>
          </div>
        </div>
    </div>

    <a href="{{ url_for('addCom') }}">Add a New Comment</a>

    <div class="row center">
      <div class="col s12 m3 l2"></div>
      <div class="col s12 m6 l8">
        <div class="card-panel teal">
          <span class="white-text">
              Multiple of these green panels
              the review will be here as rev, the review will be here , the review will be here , the review will be here
              the review will be here , the review will be here , the review will be here , the review will be here
          </span>
        </div>
          <div>
            <a href="{{ url_for('update', postId=1) }}">Update</a>
            <a href="{{ url_for('delete', postId=1) }}">Delete</a>
          </div>
      </div>
      <div class="col s12 m3 l2">
      </div>
    </div>

    <div class="row center">
      <div class="col s12 m3 l2"></div>
      <div class="col s12 m6 l8">
        <div class="card-panel teal">
          <span class="white-text">
              Multiple of these green panels
              the review will be here as rev, the review will be here , the review will be here , the review will be here
              the review will be here , the review will be here , the review will be here , the review will be here
          </span>
        </div>
      </div>
      <div class="col s12 m3 l2"></div>
    </div>
    <div class="row center">
      <div class="col s12 m3 l2"></div>
      <div class="col s12 m6 l8">
        <div class="card-panel teal">
          <span class="white-text">
              Multiple of these green panels
              the review will be here as rev, the review will be here , the review will be here , the review will be here
              the review will be here , the review will be here , the review will be here , the review will be here
          </span>
        </div>
      </div>
      <div class="col s12 m3 l2"></div>
    </div>
    <div class="row center">
      <div class="col s12 m3 l2"></div>
      <div class="col s12 m6 l8">
        <div class="card-panel teal">
          <span class="white-text">
              Multiple of these green panels
              the review will be here as rev, the review will be here , the review will be here , the review will be here
              the review will be here , the review will be here , the review will be here , the review will be here
          </span>
        </div>
      </div>
      <div class="col s12 m3 l2"></div>
    </div>
    </div>

    <div id="forum">forum</div>

    {% include 'foot.html' %}

</body>
</html>
