<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Title</title>
</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">ILLINI CLASSES</h1>
      <div class="row center">
        <h5 class="header col s12 light">Reviews, Class Discussions, Grade Distribution and more!</h5>
      </div>

      <br><br>

    </div>
  </div>


  <div class="container row center" style="margin: auto;">
    <form class="col s12 center" action="/" method="POST">
      <div class="row">
        <div class="col s12 m4 l2"></div>
        <div class="input-field col s12 m4 l8">
          <input id="cname" type="text" name="cname" class="validate">
          <label for="cname">Course Name</label>
        </div>
        <div class="col s12 m4 l2"></div>
      </div>
      <div class="row center">
        <input type="submit" id="search-button" value="search" name="courseSearch" class="btn-large waves-effect waves-light orange">
      </div>
    </form>
  </div>



  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  </div>
{% include 'foot.html' %}
</body>
</html>
