<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Title</title>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">ILLINI CLASSES</h1>
      <div class="row center">
        <h5 class="header col s12 light">Reviews, Class Discussions, Grade Distribution and more!</h5>
      </div>

      <br><br>

    </div>
  </div>


  <div class="container row center" style="margin: auto;">
    <form class="col s12 center" action="/search" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="cname" type="text" class="validate">
          <label for="cname">Course Name</label>
        </div>
      </div>
      <div class="row center">
        <a type="submit" id="search-button" class="btn-large waves-effect waves-light orange">Search</a>
      </div>
    </form>
  </div>


  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  </div>
{% include 'foot.html' %}
</body>
</html>